<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pc.lbs">
    <!-- 蓝牙权限：https://developer.android.com/guide/topics/connectivity/bluetooth#Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- 百度地图定位相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".MyApplication"
            android:icon="@drawable/second"
            android:label="@string/app_name"
            android:roundIcon="@drawable/second"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".activity.ViewDetectRecordActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.ViewBoundDeviceActivity"
                android:exported="true"/> <!-- 设备测量界面 -->
        <activity
                android:name=".activity.DeviceMeasureActivity"
                android:exported="true"/> <!-- 添加病人页面 -->
        <activity
                android:name=".activity.AddPatientActivity"
                android:exported="true"/> <!-- 选择病人页面 -->
        <activity
                android:name=".activity.SelectPatientActivity"
                android:exported="true"/> <!-- 查看未上传页面 -->
        <activity
                android:name=".activity.ViewUnuploadRecordActivity"
                android:exported="true"/> <!-- 扫描设备页面 -->
        <activity
                android:name=".activity.ScanDeviceActivity"
                android:exported="true"/> <!-- 绑定设备页面 -->
        <activity
                android:name=".activity.BindDeviceActivity"
                android:exported="true"/> <!-- 注册页面 -->
        <activity
                android:name=".activity.RegisterActivity"
                android:exported="false"/> <!-- 登录页面 -->
        <activity
                android:name=".activity.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.ResultActivity"
                android:label="@string/title_activity_result"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DetectRecordAnalyseActivity"/> <!-- 主功能菜单 -->
        <activity android:name=".activity.MainActivity"/> <!-- 百度地图定位service，每个App拥有自己单独的定位service -->
        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote"/> <!-- BLE前台提醒服务 -->
        <service
                android:name=".service.BLEReadService"
                android:enabled="true"
                android:exported="false"/> <!-- 蓝牙低功耗服务页面 -->
        <service
                android:name=".service.BluetoothLeService"
                android:enabled="true"
                android:exported="false">
        </service> <!-- 百度地图定位的key -->
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="RzXlX7iW5AmXdgXKAvMNg39Th62dZwid"/>
    </application>

</manifest>